/*Crocifisso Pusateri 9/25/2022 Web Programming*/
body {
    background: lightcoral;
}

header {
    text-align: center;
}

h1 {
    color: white;
    text-align: center;
}

div {
    text-align: center;
}

a {
    color: blue;
}

a:visited {
    color: darkblue
}

ul {
    list-style-position: inside;
    text-align: center;
}